<a href="https://colab.research.google.com/github/longminh123/laptrinhpython/blob/main/Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CHƯƠNG **8**

câu 1:

In [1]:
kingdoms = ['Bacteria', 'Protozoa', 'Chromista', 
'Plantae', 'Fungi','Animalia']

In [2]:
#1a
print("kingdoms[0]: ",kingdoms[0])
#1b
print("kingdoms[5]: ",kingdoms[5])
#1c
print("kingdoms[:3]: ",kingdoms[:3])
#1d
print("kingdoms[2:5]: ",kingdoms[2:5])
#1e
print("kingdoms[4:]: ",kingdoms[4:])
#1f
print("kingdoms[1:0]: ",kingdoms[1:0])

kingdoms[0]:  Bacteria
kingdoms[5]:  Animalia
kingdoms[:3]:  ['Bacteria', 'Protozoa', 'Chromista']
kingdoms[2:5]:  ['Chromista', 'Plantae', 'Fungi']
kingdoms[4:]:  ['Fungi', 'Animalia']
kingdoms[1:0]:  []

Câu 2

In [3]:
#2a
print("kingdoms[-6]: ",kingdoms[-6])
#2b
print("kingdoms[-1]: ",kingdoms[-1])
#2c
print("kingdoms[-6:-3]: ",kingdoms[-6:-3])
#2d
print("kingdoms[-4:-1]: ",kingdoms[-4:-1])

kingdoms[-6]:  Bacteria
kingdoms[-1]:  Animalia
kingdoms[-6:-3]:  ['Bacteria', 'Protozoa', 'Chromista']
kingdoms[-4:-1]:  ['Chromista', 'Plantae', 'Fungi']

Câu 3

In [4]:
appointments = ['9:00', '10:30', '14:00', '15:00', '15:30']
appointments.append('16:30')
appointments

['9:00', '10:30', '14:00', '15:00', '15:30', '16:30']

Câu 4

In [5]:
ids =[4353, 2314, 2956, 3382, 9362, 3900]
#4a 
ids.remove(3382)
print(ids)
#4b
ids.index(9362)
print(ids)
#4c 
ids.insert(ids.index(9362) + 1, 4499)
print(ids)
#4d
ids = ids + [5566, 1830]
print(ids)
#4e. 
ids.reverse()
print(ids)
#4f 
ids.sort()
print(ids)

[4353, 2314, 2956, 9362, 3900]
[4353, 2314, 2956, 9362, 3900]
[4353, 2314, 2956, 9362, 4499, 3900]
[4353, 2314, 2956, 9362, 4499, 3900, 5566, 1830]
[1830, 5566, 3900, 4499, 9362, 2956, 2314, 4353]
[1830, 2314, 2956, 3900, 4353, 4499, 5566, 9362]

Câu 5

In [7]:
alkaline_earth_metals = ['metals—beryllium','magnesium', ' calcium',' strontium','barium','radium']
#5a
alkaline_earth_metals = [4, 12, 20, 38, 56, 88]
#5b 
print(alkaline_earth_metals[5], alkaline_earth_metals[-1])
#5c 
print(len(alkaline_earth_metals))
#5d
print(max(alkaline_earth_metals))

88 88
6
88

Câu 6

In [8]:
#6a
temps = [25.2, 16.8, 31.4, 23.9, 28, 22.5, 19.6]
print(temps)
#6b
temps.sort()
print(temps)
#6c
cool_temps = temps[0:2]
print(cool_temps)
warm_temps = temps[2:]
print(warm_temps)
#6d 
temps_in_celsius = cool_temps + warm_temps
print(temps_in_celsius)

[25.2, 16.8, 31.4, 23.9, 28, 22.5, 19.6]
[16.8, 19.6, 22.5, 23.9, 25.2, 28, 31.4]
[16.8, 19.6]
[22.5, 23.9, 25.2, 28, 31.4]
[16.8, 19.6, 22.5, 23.9, 25.2, 28, 31.4]

Câu 7

In [9]:
def same_first_last(L : list ) -> bool:
  if len(L) >= 2 and L[0] == L[-1]:
    print(True)
  else:
    print(False)

same_first_last([3, 4, 2, 8, 3])
same_first_last(['apple', 'banana', 'pear'])
same_first_last([4.0, 4.5])

True
False
False

Câu 8:

In [10]:
def is_longer(L1: list, L2: list) -> bool:
  if len(L1) > len(L2):
    print(True)
  else:
    print(False)
is_longer([1, 2, 3], [4, 5])
is_longer(['abcdef'], ['ab', 'cd', 'ef'])
is_longer(['a', 'b', 'c'], [1, 2, 3])

True
False
False

Câu 9:

In [11]:
values = [0, 1, 2]
values[1] = values

Câu 10:

In [12]:
units =[['km', 'miles', 'league'],['kg', 'pound', 'stone']]
#10a
print(units[0])
#10b 
print(units[-1] or units[1])
#10c 
print(units[0][0])
#10d 
print(units[1][0])
#10e
print(units[0][1:])
#10f
print(units[1][0:2])

['km', 'miles', 'league']
['kg', 'pound', 'stone']
km
kg
['miles', 'league']
['kg', 'pound']

Câu 11

In [13]:
units =[['km', 'miles', 'league'],['kg', 'pound', 'stone']]
#11a
print(units[-2])
#11b
print(units[-1])
#11c. 
print(units[-2][-3])
#11d
print(units[-1][-3])
#11e
print(units[-2][-2:])
#11f 
print(units[-1][:-1])

['km', 'miles', 'league']
['kg', 'pound', 'stone']
km
kg
['miles', 'league']
['kg', 'pound']

CHƯƠNG **9**

Câu 1

In [14]:
celegans_phenotypes = ['Emb','Him', 'Unc', 'Lon', 'Dpy', 'Sma']
for phenotype in celegans_phenotypes:
 print(phenotype)

Emb
Him
Unc
Lon
Dpy
Sma

Câu 2

In [15]:
half_lives = [87.74, 24110.0,6537.0, 14.4, 376000.0]
for value in half_lives:
 print(value, end=' ')

87.74 24110.0 6537.0 14.4 376000.0

Câu 3

In [16]:
whales = [5, 4, 7, 3, 2, 3, 2, 6, 4, 2, 1, 7, 1, 3]
more_whales = []
for count in whales:
 more_whales.append(count + 1)
print(more_whales)

[6, 5, 8, 4, 3, 4, 3, 7, 5, 3, 2, 8, 2, 4]

Câu 4

In [17]:
#4a
alkaline_earth_metals = [[4, 9.012], [12, 24.305],[20, 40.078], [38, 87.62],[56, 137.327], [88, 226]]
#4b
for inner_list in alkaline_earth_metals:
 print("inner_list[0]",inner_list[0])
 print("inner_list[1]",inner_list[1])
#4c
number_and_weight = []
for inner_list in alkaline_earth_metals:
 number_and_weight.append(inner_list[0])
 number_and_weight.append(inner_list[1])
 print(number_and_weight[0])
 print(number_and_weight[1])

inner_list[0] 4
inner_list[1] 9.012
inner_list[0] 12
inner_list[1] 24.305
inner_list[0] 20
inner_list[1] 40.078
inner_list[0] 38
inner_list[1] 87.62
inner_list[0] 56
inner_list[1] 137.327
inner_list[0] 88
inner_list[1] 226
4
9.012
4
9.012
4
9.012
4
9.012
4
9.012
4
9.012

Câu 6:

In [18]:
text = ""
while text.lower() != "quit":
 text = input("Please enter 'QUIT' or 'quit' to exit: ")
 if text == "quit":
  print("…exiting program")
 elif text =="QUIT":
   print("…exiting program")
 else:
  print("Unknown compound")

Please enter 'QUIT' or 'quit' to exit: quit
…exiting program

Câu 7

In [19]:
country_populations = [1295, 23, 7, 3, 47, 21]
total = 0
for population in country_populations:
 total += population
print(total)

1396

Câu 9

In [23]:
for number in range(33, 50):
 print(number)

33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

Câu 10

In [24]:
for number in range(10):
 print(10 - number, end=' ')

10 9 8 7 6 5 4 3 2 1

Câu 11

In [26]:
sum = 0
count = 0
for number in range(2,22):
 sum += number
 count += 1
average = sum / count
print(average)

11.5

Câu 12:

In [28]:
def remove_neg(num_list):
 index = 0
 while index < len(num_list):
  if num_list[index] < 0:
    del num_list[index]
  else:
    index += 1

Câu 13

In [29]:
for width in range(1, 8):
 print('T' * width)

T
TT
TTT
TTTT
TTTTT
TTTTTT
TTTTTTT

Câu 14

In [30]:
for width in range(1, 8):
 print(' ' * (7 - width), 'T' * width, sep='')

      T
     TT
    TTT
   TTTT
  TTTTT
 TTTTTT
TTTTTTT

Câu 15

In [31]:
width = 1
while width < 8:
 print('T' * width)
 width += 1
width = 1
while width < 8:
 print(' ' * (7 - width), 'T' * width, sep='')
 width += 1

T
TT
TTT
TTTT
TTTTT
TTTTTT
TTTTTTT
      T
     TT
    TTT
   TTTT
  TTTTT
 TTTTTT
TTTTTTT

Câu 16: